.weather-current-page {
    background: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid;    
    width: 40%;
    max-width: 800px;
    min-width: 500px
}
.weather-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: #09f; 
}

.weather-descr {
    padding-bottom: 10px;
    margin-top : 0px;
}

.main-weather-params {
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    margin: 10px;
    
}

.temprature {
    background:rgb(244, 196, 155);
    box-shadow: 5px 5px 5px 0px rgb(124, 119, 96);
    padding: 10px;
    font-size: 3rem;
    font-weight: bold;
    margin :auto;
    border-radius: 25px;
}
.weather-descr{       
    text-align: center;
  /*  vertical-align: middle;
    line-height: auto; */
    margin :auto; 
    width: 50px;   
    font-size: 1.1rem; 
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    
}

.weather-icon {
   /* border: 1px solid;
    border-radius: 10px;    */
    outline: 2px ridge rgba(190, 185, 192, 0.6);border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgb(124, 119, 96);
    background-color:#09f;
}
.weather-img {
    margin : 0px;
}